.listLine {
    width: 85%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 1em;
    font-size: 12px;
    text-align: center;
    border-bottom: 2px solid var(--backgroundColor);
}

button {
    background: var(--secondaryAccent);
    border-radius: 10%;
    border: none;
    color: var(--fontColor);
    cursor: pointer;
}

p {
}
